<div class="row">
    <div class="col-sm-6 ">
        <form [formGroup]="blogform" (ngSubmit)="insertBlog()">
            <label >Category </label>
            <select  type="text" class="form-control" formControlName="cname">
                <option value="1">Cat 1</option>
                <option value="2">Cat 2</option>
                <option value="3">Cat 3</option>
                <option value="4">Cat 4</option>
            </select>
            <label >Blog Name</label>
            <input type="text" class="form-control" formControlName="bname">
            <label >Blog Description</label>
            <input type="text" class="form-control" formControlName="bdesc">
            <label >Blog Date</label>
            <input type="date" class="form-control" formControlName="bdate">
            <label >Blog Author</label>
            <input type="text" class="form-control" formControlName="bauthor">
            <br><br>
            <input type="submit" class="btn btn-success" value="Insert blog">
        </form>
    </div>
</div>