<div class="row">
    <div class="col-sm-6 ">
        <form  (ngSubmit)="updateCat()">
            <label >Category Name</label>
            <input type="text" name="$key" [(ngModel)]="caData.$key">
            <input type="text" class="form-control" name="cname" [(ngModel)]="caData.cname" >
            <label >Category Description</label>
            <input type="text" class="form-control" name="cdesc" [(ngModel)]="caData.cdesc" >
            <label >Date</label>
            <input type="date" class="form-control" name="cdate" [(ngModel)]="caData.cdate" >
            <br><br>
            <input type="submit" class="btn btn-success" value="Upadate Category">
        </form>
    </div>
</div>